input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	box-sizing: border-box;
	color: $text-input;
	padding: 10px;
	border: 0;
	border-radius: 0;

	&:focus {

	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	
}

textarea {
	
}