
#colophon {
	position: relative;
	background: #FFFFFF;
	padding: 60px 0;
	text-align: center;
	border-top: 1px solid #D8DADC;

	p, li, a {
		color: black;
		font-size: 11px;
		letter-spacing: 3px;
	}

	.site-info {
		padding-bottom: 20px;
		padding-left: 40px;
		padding-right: 40px;

		@include media($medium-screen-up) {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
