.disablescroll {
	overflow: hidden;
}

.container {
	@include outer-container();
	padding: 0 40px;
	
	&.wide {
		@include outer-container(100%);
		padding: 0 0;
	}
}

.clear {
	clear: both;
	display: block;
}

.row {
	@include row();
	margin-bottom: 20px;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.page_links {
	// position: fixed;
	// bottom: 0;
	// right: 0;
	// z-index: 2;
	background: white; 

	span.prev {
		background-image: url(assets/images/left-arrow.svg);
	}
	span.next {
		background-image: url(assets/images/right-arrow.svg);
	}

	span.prev, span.next {
		width: 50%;
		height: 40px;
		float: left;
		
		background-color: #020202;
		background-color: -webkit-linear-gradient(225deg, #444, #020202); /* For Safari 5.1 to 6.0 */
		background-color: -o-linear-gradient(225deg, #444, #020202); /* For Opera 11.1 to 12.0 */
		background-color: -moz-linear-gradient(225deg, #444, #020202); /* For Firefox 3.6 to 15 */
		background-color: linear-gradient(225deg, #444, #020202);

		background-size: 24px;
		background-repeat: no-repeat;
		background-position: center;
		vertical-align: bottom;

		a {
			text-indent: -9999px;
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}

.animated {
	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.fadeIn{
	-webkit-animation-name:fadeIn;
	animation-name:fadeIn
}

.zoomInDown{
	-webkit-animation-name:zoomInDown;
	animation-name:zoomInDown;
	animation-duration:1.4s
}

.delay, .delay0 {
	animation-delay: 0.2s;
}

.delay1 {
	animation-delay: 0.25s;
}

.delay2 {
	animation-delay: 0.3s;
}

.delay3 {
	animation-delay: 0.35s;
}

.delay4 {
	animation-delay: 0.4s;
}

.delay5 {
	animation-delay: 0.45s;
}

.delay6 {
	animation-delay: 0.4s;
}
.delay7 {
	animation-delay: 0.45s;
}
.delay8 {
	animation-delay: 0.5s;
}
.delay9 {
	animation-delay: 0.55s;
}
.delay10 {
	animation-delay: 0.6s;
}
.delay11 {
	animation-delay: 0.65s;
}
.delay12 {
	animation-delay: 0.7s;
}

// Sticly Fix
.sticky {

	#content {
		//padding-top: 63px;
	}
}

// Table

.table {
	display: table;
	width: 100%;
	height: 100%;
}

.cell {
	display: table-cell;
	width: 100%;
	height: 100%;

	&.middle {
		vertical-align: middle;
	}
	&.bottom {
		vertical-align: bottom;
	}
	&.top {
		vertical-align: top;
	}
}


.span2 {
	@include span-columns(1);

	@include media($medium-screen-up) {
		@include span-columns(3);
	}

	@include media($large-screen-up) {
		@include span-columns(2);
	}
}

.span3 {
	@include span-columns(1);

	@include media($medium-screen-up) {
		@include span-columns(3);
	}

	@include media($large-screen-up) {
		@include span-columns(3);
	}
}

.span4 {
	@include span-columns(1);

	@include media($medium-screen-up) {
		@include span-columns(3);
	}

	@include media($large-screen-up) {
		@include span-columns(4);
	}
}

.span6 {
	@include span-columns(1);

	@include media($medium-screen-up) {
		@include span-columns(4);
	}

	@include media($large-screen-up) {
		@include span-columns(6);
	}
}

.span8 {
	@include span-columns(1);

	@include media($medium-screen-up) {
		@include span-columns(6.66);
	}

	@include media($large-screen-up) {
		@include span-columns(8);
	}
}

.span9 {
	@include span-columns(1);

	@include media($medium-screen-up) {
		@include span-columns(9);
	}

	@include media($large-screen-up) {
		@include span-columns(9);
	}
}

.span12 {
	@include span-columns(1);

	@include media($medium-screen-up) {
		@include span-columns(8);
	}

	@include media($large-screen-up) {
		@include span-columns(12);
	}
}