/*=====================================
=            BLOG - SINGLE            =
=====================================*/

.single {

	#feature-image {
		height: 50vh;
	}

	#wrapper {
		background-color: #f7f7f7;
		padding: 60px 0;

		#primary {
			background-color: transparent;
		}

		#secondary {

			.widget {
				
				.search-submit {
					display: none;
				}
			}
		}
	}
}