/*===============================
=            CONTACT            =
===============================*/

.contact {

	#primary {
		padding-top: 140px;
		padding-bottom: 60px;
	}

	#primary {

		.gform_wrapper {
			
			.gform_fields {
				
				.gfield {
					&:first-of-type {
						margin-top: 0;
					}
				}
			}
		}

		article {
			padding: 0;
			text-align: left;
		}

		input, textarea {
			border: 1px solid #ccc;
			padding: 5px;
		}

		 input[type="submit"] {
			border-color: #ccc;
			color: #333;
			text-transform: uppercase;
			padding: 13px 16px;
			line-height: 1;

			&:hover {
				background: $brand-primary;
				border-color: $brand-primary;
				color: white;
			}
		}
	}
}

