/*===============================
=            CONTACT            =
===============================*/

.contact {

	#primary {
		padding-top: 140px;
		padding-bottom: 60px;
	}

	#sections {

		.wpcf7-form {
			margin: 25px 0 0 0;

			img {
				display: none;
			}
			
			p {

				label {
					margin: 0;
				}

				span {
					display: block;
					
					input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea {
						border: 1px solid #ccc;
					}

					textarea {
						height: 125px;
					}
				}
			}
		}
	}
}