/*============================
=            HOME            =
============================*/

.home {

	#feature-image {
		height: 100vh;
		width: 100%;
		background-position: 50%;
		background-size: cover;
		background-repeat: no-repeat;
		margin-bottom: 0;
		background: #E1E1E1;
		overflow: hidden;
		text-align: center;

		&.menuopen {
			img {
				filter: brightness(0);
			}
		}

		img {
			display: none;
			width: 100%;

			@include media($medium-screen-up) {
				display: inline-block;
			}
		}

		.wrap {
			position: relative;
			background-image: url(assets/hp/background-mobile.jpg);
			height: 370px;
			background-position: 53% 0;
			background-size: auto 100%;

			@include media($medium-screen-up) {
				background-image: none;
				height: auto;
			}
		}

		.elements {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 50;

			.rock {
				position: absolute;
				top: 0;
				z-index: 1;
			}

			.wally {
				position: absolute;
				top: 31%;
				width: 3%;
				left: 49.5%;
				z-index: -1;

				animation: peak linear 10000ms infinite alternate 5s;
			}

			.baloon {
				position: absolute;
				top: 13.4%;
				left: -10%;
				width: 7%;
				z-index: -1;

				animation: flythrough linear 90s infinite, 
						   rise linear 90s infinite;

				img {
					display: inline-block;
				}
			}

			.camera {
				position: absolute;
				top: 55.4%;
				left: 10.1%;
				width: 3%;
				z-index: 5;
				display: none;

				@include media($medium-screen-up) {
					display: block;
				}

				animation: camswing linear 750ms infinite alternate;
				transform-origin: top center;
			}

			.tenticle-right {
				position: absolute;
				top: 69.4%;
				left: 67.5%;
				width: 7%;

				//animation: camswing linear 2000ms infinite alternate;
			 //   transform-origin: center 0px;
			}

			.drip {
				position: absolute;
				top: 72.4%;
				left: 41.1%;
				width: 1%;
				z-index: 1;

				animation: dripm linear 6500ms infinite;

				@include media($medium-screen-up) {
					animation: drip linear 6500ms infinite;
				}
				animation-delay: 3s;
			}

			.flr {
				position: absolute;
				top: 54.4%;
				left: 16.5%;
				width: 2%;

				// animation: rfd linear 30000ms infinite;
				// animation-delay: 17s;
			}

			.rgl-1 {
				position: absolute;
				top: 54.4%;
				left: 16.5%;
				width: 2%;

				animation: rg1m linear 15s infinite 5s;

				@include media($medium-screen-up) {
					animation: rg1 linear 15s infinite 5s;
				}
				animation-delay: 3s;
			}

			.rgl-2 {
				position: absolute;
				top: 54.4%;
				left: 16.5%;
				width: 2%;

				animation: rg2m linear 15s infinite 5s;

				@include media($medium-screen-up) {
					animation: rg2 linear 15s infinite 5s;
				}
				animation-delay: 3s;
			}

			.rgl-3 {
				position: absolute;
				top: 54.4%;
				left: 16.5%;
				width: 2%;

				animation: rg3m linear 15s infinite 10s;

				@include media($medium-screen-up) {
					animation: rg3 linear 15s infinite 10s;
				}
				animation-delay: 3s;
			}

			.rgl-4 {
				position: absolute;
				top: 54.4%;
				left: 72.5%;
				width: 2%;

				animation: rg4m linear 15s infinite 13s;

				@include media($medium-screen-up) {
					animation: rg4 linear 15s infinite 13;
				}
				animation-delay: 8s;
			}

			.rgl-5 {
				position: absolute;
				top: 54.4%;
				left: 72.5%;
				width: 2%;

				animation: rg5m linear 15s infinite;

				@include media($medium-screen-up) {
					animation: rg5 linear 15s infinite;
				}
				animation-delay: 8s;
			}

			.rgl-6 {
				position: absolute;
				top: 54.4%;
				left: 72.5%;
				width: 2%;

				animation: rg6m linear 15s infinite;

				@include media($medium-screen-up) {
					animation: rg6 linear 15s infinite;
				}
				animation-delay: 8s;
			}

			.note1 {
				position: absolute;
				top: 49%;
				left: 83%;
				opacity: 0;
				width: 0.61%;

				animation: 	n1l linear 3s infinite 2s,
							n1t linear 3s infinite 2s,
							fadeinout linear 3s infinite 2s,
							grow linear 3s infinite 2s;
			}
			.note2 {
				position: absolute;
				top: 49%;
				left: 83%;
				opacity: 0;
				width: 0.61%;

				animation: 	n2l linear 3s infinite 2.5s,
							n2t linear 3s infinite 2.5s,
							fadeinout linear 3s infinite 2.5s,
							grow linear 3s infinite 2.5s;
			}



			.lr {
				position: absolute;
				top: 54.4%;
				left: 22.5%;
				width: 2%;;

				// animation: rfc linear 30000ms infinite;
				// animation-delay: 20;
			}

			.rr {
				position: absolute;
				top: 54.4%;
				left: 72.5%;
				width: 2%;

				// animation: rfa linear 30000ms infinite;
				// animation-delay: 6s;
			}

			.frr {
				position: absolute;
				top: 54.4%;
				left: 81.5%;
				width: 2%;

				// animation: rfb linear 30000ms infinite;
				// animation-delay: 12s;
			}
		}
	}

	#primary {
		background: #020202;
		// background: -webkit-linear-gradient(225deg, #444, #020202); /* For Safari 5.1 to 6.0 */
		// background: -o-linear-gradient(225deg, #444, #020202); /* For Opera 11.1 to 12.0 */
		// background: -moz-linear-gradient(225deg, #444, #020202); /* For Firefox 3.6 to 15 */
		// background: linear-gradient(225deg, #444, #020202);

		h1, h2, h3, h4, h5, p, a {
			color: white;
		}

		#main {
		}

		article {
			padding-top: 100px;
			padding-bottom: 100px;
			max-width: 80%;
			margin: 0 auto;

			.entry-content {
				text-align: center;

				h1 {
					font-weight: 700;
					font-size: 62px;
					text-transform: uppercase;
					margin: 0 0 30px 0;
				}

				p {
					font-size: 24px;
					color: #ffffff;
					text-transform: uppercase;
					font-weight: 700;
					line-height: 1.3;
				}
			}
		}

		#offerings {
			padding: 0 0 80px 0;
			// background-color: #f9f9f9;
			position: relative;
			text-align: center;
			max-width: 80%;
			margin: 0 auto;

			// .slick-prev {
			// 	background-image: url(assets/images/left-arrow.svg);
			// 	left: -50px;
			// }

			// .slick-next {
			// 	background-image: url(assets/images/right-arrow.svg);
			// 	right: -50px;
			// }

			// .slick-prev, .slick-next {
			// 	outline: 0;
			// 	width: 40px;
			// 	height: 40px;
			// 	background-repeat: no-repeat;
			// 	background-position: center;

			// 	&:before {
			// 		display: none;
			// 	}
			// }

			.offering {
				// padding: 0 30px;
				border-bottom: 1px solid #6f6f6f;
				padding-bottom: 20px;
				margin-bottom: 20px;
				position: relative;

				&:nth-child(3n) {
					margin-right: 0;

					&:after {
						display: none;
					}
				}
				&:nth-child(4n) {
					clear: left;
				}

				&:nth-child(4), &:nth-child(5), &:nth-child(6) {
					border-bottom: 0;
				}

				&:after {
					// content: "";
					width: 1px;
					height: calc(100% - 20px);
					background-color: #6f6f6f;
					position: absolute;
					right: -12.5px;
					top: 0;

					@include media($medium-screen-up) {
						content: "";
					}
				}

				h2 {
					font-weight: 700;
					font-size: 32px;
					// text-transform: uppercase;
					margin-bottom: 20px;
					line-height: 1.2;

					a {
						 color: inherit;
					}
				}

				p {
					font-size: 15px;
				}
				
				.more {
					display: inline-block;
					text-align: center;
					padding: 8px 14px;
					border: 1px solid white;
					margin-top: 20px;
					text-transform: uppercase;
					color: white;
					font-weight: 700;

					&:hover {
					}
				}
			}
		}
	}

	#worktitle {
		background: #020202;
		display: inline-block;
		width: 100%;
		padding: 50px 0;
		text-align: center;

		h2 {
			display: inline-block;
			text-align: center;
			font-size: 62px;
			text-transform: uppercase;
			color: white;
			margin: 0;
		}
	}

	#featurework {
		padding: 0;
		float: left;
		width: 100%;

		.container {
			padding: 0;
		}

		.feature-work-item {
			float: left;
			width: 100%;
			position: relative;

			@include media($medium-screen-up) { 
				width: 50%;
			}

			&:nth-child(1),
			&:nth-child(2) {
				// margin-bottom: 40px;
			}
			&:nth-child(2n) {
				margin-right: 0;
			}

			.info {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				text-align: center;
				opacity: 0;
				padding: 0;
				transition: all 150ms ease-in-out;
				box-sizing: border-box;

				.table {
					background: rgba(255,255,255,0.8);
					// border: 10px solid white;
					box-sizing: border-box;

					h2 {
						color: #000000;
						font-size: 45px;
						margin: 0;
					}

					h3 {
						color: #000000;
						font-size: 15px;
						margin: 0;
					}
				}
			}

			&:hover {

				.info {
					padding: 0;
					opacity: 1;
				}
			}

			img {
				display: block;
			}
		}
	}

	#moreshit {
		display: inline-block;
		width: 100%;
		padding: 50px 0;
		text-align: center;
		background-color: #020202;

		a {
			display: inline-block;
			text-align: center;
			padding: 8px 14px;
			border: 3px solid white;
			margin-top: 20px;
			font-size: 45px;
			text-transform: uppercase;
			color: white;
			font-weight: 700;
		}
	}
}

