/*============================
=            TEAM            =
============================*/

.our-team, .the-studio {

	#primary {
		padding: 140px 0 60px 0;
	}

	#team_content {
		background: #020202;
		background: -webkit-linear-gradient(225deg, #444, #020202); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(225deg, #444, #020202); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(225deg, #444, #020202); /* For Firefox 3.6 to 15 */
		background: linear-gradient(225deg, #444, #020202);

		h1, h2, h3, h4, h5, p, a {
			color: white;
		}

		#main {
		}

		article {
			padding: 80px 0;

			.entry-content {
				text-align: center;

				h1, h2 {
					font-size: 32px;
					margin: 0 0 40px 0;
					color: white;
				}

				p {
					// font-size: 16px;
					color: #ffffff;
					// text-transform: uppercase;
					// font-weight: 700;
				}
			}
		}
	}

	#insta {
		// float: left; 
		width: 100%;

		header {
			text-align: center;
			padding: 100px 0;
			margin: 0 auto;
			width: 600px;

			h3 {
				margin-bottom: 30px;
			}

			p {
			}

			a {
				display: inline-block;
				padding: 8px 27px;
				border: 1px solid #333;
				margin-top: 30px;
				text-transform: uppercase;
				font-weight: 600;
			}
		}

		.instagrams {

			.ig-item {
				float: left;
				width: 25%;
				position: relative;

				img {
					display: block;
				}

				p {
					color: white;
				}

				.caption {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					text-align: center;
					opacity: 0;
					padding: 0;
					transition: all 150ms ease-in-out;
					box-sizing: border-box;

					.table {
						background: rgba(0,0,0,0.8);
						// border: 10px solid white;
						box-sizing: border-box;
						padding: 20px;
					}
				}

				&:hover {

					.caption {
						// padding: 0;
						opacity: 1;
					}

					.image {
						// background-size: 110%;
					}
				}
			}
		}
	}

	#team {
		padding: 0;
		background: white;

		.members {
			@include row;
			margin-bottom: 0;

			&:last-of-type {
				border-bottom: 0;
				padding-bottom: 0;
				margin-bottom: 0;
			}

			.member {
				text-align: center;
				position: relative;
				float: left;
				width: 100%;

				@include media($large-screen-up) {
					width: 100%;
				}

				.info {
					position: absolute;
					// float: left;
					right: 0;
					width: 50%;
					height: 100%;
					text-align: left;
					box-sizing: border-box;
						padding-right: 100px;
						padding-left: 40px;
				}

				ul {
					display: inline-block;
					list-style: none;
					margin: 20px 0 0 0;
					padding: 0;
					margin-bottom: 20px;

					li {
						display: inline-block;
						vertical-align: middle;
						margin: 0 10px 0 0;
						font-size: 18px;

						a {
							color: black;
						}
					}
				}

				h2 {
					// color: #ffffff;
					font-size: 45px;
					font-weight: 600;
					margin: 0;
				}

				hr {
					margin: 10px auto;
					width: 25px;
				}

				h3 {
					// color: #ffffff;
					font-size: 16px;
					font-weight: 400;
					margin: 0;
				}

				p {
					// color: white;
				}

				.image {
					display: block;
					float: left;
					width: 50%;

					img {
						// opacity: 0; // only included to make the box responsive rather than using jquery *rolling eyes emoji*
						display: block;
						width: 100%;
					}
				}

				&:nth-child(even) {
					.image {
						float: right;
					}

					.info {
						right: auto;
						left: 0;
						padding-left: 100px;
						padding-right: 40px;
					}
				}

				&:hover {

					.info {
						// padding: 0;
						// opacity: 1;
					}

					.image {
						// background-size: 110%;
					}
				}
			}
		}
	}
}
