/*======================================
=            PORTFOLIO ITEM            =
======================================*/

.single-portfolio {

	#buffer, .buffer {
		float: left;
		width: 100%;
		height: 40px;
	}

	#hero {
		height: 100%;
		height: 100vh;
		padding: 100px 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		h1 {
			text-align: center;
			padding: 0 10%;
			font-size: 200px;
			letter-spacing: 2px;
			color: white;
			margin: 0;
			line-height: 154px;
		}
	}

	#primary {
		padding: 60px 0;
		background: white;

		article {
			text-align: center;
			width: 100%;
			padding: 0 40px;

			.entry-content {

				h1, h2 {
					font-weight: 700;
					font-size: 42px;
					text-transform: uppercase;
					margin: 0 0 30px 0;

					@include media($medium-screen-up) {
						font-size: 62px;	
					}
				}

				p {

				}
			}
		}
	}
		
	#images {
		background-color: white;
		// padding-top: 60px;
		// padding-bottom: 60px;

		.row {
			margin-bottom: 0;
		}

		.element {
			float: left;

			&.full {
				width: 100%;
			}
			&.half {
				width: 50%;
			}
			&.third {
				width: 33.33333%;
			}
			&.quarter {
				width: 25%;
			}

			img {
				display: block;
				width: 100%;
			}

			.text {
				padding: 60px 40px;
				min-height: 200px;
				max-width: 1000px;
				margin: 0 auto;
				height: 100%;

				blockquote {
					quotes: "";
					margin: 0;
				}

				.icon, .blurb {
					float: left;
				}

				.blurb {
					width: 85%;
				}

				.icon {
					width: 15%;

					svg {
						font-size: 62px;
						margin-right: 20px;
					}
				}
			}
		}

		.item {
			margin: 0 0 40px 0;

			&:last-of-type {
				margin-bottom: 0;
			}

			img {
				display: block;
				width: 100%;
			}
		}
	}

}

