/*===============================
=            PRIMARY            =
===============================*/
.noscroll {
	overflow: hidden;
}

#theme-my-login {
	margin: 100px auto;
}

#primary {
	background: #fff;
}

#content {
	background: -webkit-linear-gradient(225deg, #e6e6e6, #fff); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(225deg, #e6e6e6, #fff); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(225deg, #e6e6e6, #fff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(225deg, #e6e6e6, #fff);
}

.page-template-default {

	#primary {
		background: -webkit-linear-gradient(225deg, #e6e6e6, #fff); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(225deg, #e6e6e6, #fff); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(225deg, #e6e6e6, #fff); /* For Firefox 3.6 to 15 */
		background: linear-gradient(225deg, #e6e6e6, #fff);

		article {
			text-align: center;

			.entry-content {

				h1, h2 {
					font-weight: 700;
					font-size: 62px;
					text-transform: uppercase;
					margin: 0 0 30px 0;
				}

				p {
				}
			}
		}
	}
}

/*====================================
=            BRAND SLIDER            =
====================================*/

#brands {
	padding: 100px 0;
	background: #f7f7f7;
	display: inline-block;
	width: 100%;

	header {
		margin-bottom: 50px;
		text-align: center;

		h2 {
			font-weight: 700;
			font-size: 62px;
			text-transform: uppercase;
			margin: 0 0 30px 0;
		}
	}

	.brandicons {
		display: inline-block;
		width: 100%;

		.brandicon {
			border: 2px solid white;
			margin-right: 20px;
			box-sizing: border-box;
			float: left;
			width: calc(20% - 20px);

			&:nth-child(5) {
				margin-right: 0;
			}

			&:nth-child(1) {
				margin-left: 10px;
			}
		}
	}
}

/*=====================================
=            FEATURE IMAGE            =
=====================================*/

#sections {
	// padding: 60px 0;
	background: #ffffff;

	.service {
		// border-bottom: 2px solid #D8DADC;
		// padding: 0 0 60px 0;
		// margin-bottom: 60px;
		@include row;
		// min-height: 600px;
		position: relative;
		// display: unset;

		.wrapper {
		}

		.ovewrlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			a.more {
				display: block;
				height: 100%;
				text-indent: -9999px;
			}
		}

		&.even {

			.text {
				padding: 40px;
				background-color: #e9e9e9;

				@include media($medium-screen-up) {
					background-color: transparent;
					padding-top: 40px;
					padding-bottom: 40px;
					padding-left: 100px;
					padding-right: 40px;
				}	
			}

			&:before {
				left: auto;
				right: 0;
			}
		}

		&.odd {

			.text {
				padding: 40px;

				@include media($medium-screen-up) {
					padding-top: 40px;
					padding-bottom: 40px;
					padding-right: 100px;
					padding-left: 40px;
				}
			}

			&:before {
				right: auto;
				left: 0;
			}
		}

		.half {
			width: 100%;
			
			@include media($medium-screen-up) {
				width: 50%;
				display: table-cell;
				vertical-align: middle;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}

			img {
				display: none;
				width: 100%;
				visibility: hidden;

				@include media($medium-screen-up) {
					display: block;
				}
			}

		}
		
		.text {
			padding: 40px;
			padding-right: 100px;
			background: white;
		}

		h1, h2 {
			font-size: 42px;
			margin: 0 0 20px 0;
		}
	}

	.fulllist {
		padding: 60px 0;
		text-align: center;
		background: #020202;
		background: -webkit-linear-gradient(225deg, #444, #020202); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(225deg, #444, #020202); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(225deg, #444, #020202); /* For Firefox 3.6 to 15 */
		background: linear-gradient(225deg, #444, #020202);


		h2, h3 {
			font-size: 32px;
			margin: 0;
			color: white;
		}

		ul {
			margin: 0;
			list-style-type: none;

			li {
				margin-right: 20px;
				text-transform: uppercase;
				display: inline-block;
				line-height: 1.2;
				color: white;

				&:after {
					content: " • ";
					color: white;
					display: inline-block;
					margin-left: 10px;
					font-size: 8px;
					position: absolute;
					line-height: 18px;
				}

				&:last-of-type {
					margin: 0;

					&:after {
						display: none;
					}
				}
			}
		}
	}
}

/*=====================================
=            FEATURE IMAGE            =
=====================================*/

#feature-image {
	height: 50vh;
	position: relative;

	.caption {
		position: absolute;
		top: 0;
		left: 0;
		text-align: right;

		.container {
			margin-bottom: 60px;
		}

		.wrapper {
			margin-bottom: 40px;
			margin-right: 50px;
			display: inline-block;
		}

		h1, h2 {
			margin: 0;
			color: black;
		}

		h1 {
			font-size: 44px;
			font-weight: 700;
			margin: 0px;
			line-height: 1;
			text-transform: uppercase;
		}

		h2 {
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 3px;
			line-height: 1.2;
			text-transform: uppercase;
		}

		hr {
			float: right;
			width: 24px;
			background: black;
		}
	}

	&.white-text {
		h1, h2 {
			color: white;
		}
		hr {
			background-color: white;
		}
	}
}

/*===========================
=            MAP            =
===========================*/

#map {
	width: 100%;
	height: 600px;
	//background-color: grey;

	/* fixes potential theme css conflict */
	img {
	   max-width: inherit !important;
	}

}

/*===========================
=            404            =
===========================*/

.error404 {
	height: 100vh;
	background-color: #eeeeee;

	#page, #content, #primary, #main {
		background: none;
		height: 100vh;
	}

	.table {
		background-image: url(assets/images/404.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-color: #eeeeee;
	}

	.error-404 {
		text-align: right;
		max-width: 1280px;
		margin: 0 auto;
		padding: 0 40px;

		h1 {
			font-size: 39px;
			margin: 0;
			width: 250px;
			position: absolute;
			right: 20%;
			top: 140px;
			text-align: right;
			color: #333333;
		}
	}

	#colophon {
		display: none;
	}
}


.search {
	height: 100vh;
	background-color: #eeeeee;

	#page, #content, #primary, #main {
		background: none;
		height: 100vh;
	}

	.table {
		background-image: url(assets/images/search.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-color: #eeeeee;
	}

	.search-res {
		text-align: right;
		max-width: 1280px;
		margin: 0 auto;
		padding: 0 40px;

		h1 {
			font-size: 39px;
			margin: 0;
			width: 250px;
			position: absolute;
			right: 20%;
			top: 140px;
			text-align: right;
			color: #333333;
		}
	}

	#colophon {
		display: none;
	}
}
